// generic
body {
	font-weight: 400;
}

// séparateurs
hr {
	border-style: dotted;
}

code, pre {
	background-color: $gray-10;
	font-weight: normal;
  color: $primary-color-dark;
}

figure {
	@include figure();

	img {
		max-width: 100%;
	}

	span {
		display: block;
	}

	.longdesc {
		font-size: .875em;
	}
}

// classe lisible uniquement par les aides techniques
.sr-only {
	@include sr-only;
}

// span infos des liens de téléchargement
.download-info {
  color: $jo-muted-text;
  font-size: .875em;
}


