// Settings et variables modifiés ou créés JO
// -------------------------------


// palette jo
$jo-primary-color:        #3b6eb2;
$jo-body-color:           #3e3c3d;
$jo-headings-color:       #595b6a;
$jo-muted-text:           #717285;
$jo-danger-color:         #b53535;
$jo-gray-base:            #42434e;

// translation sur variables standard scampi
$primary-color:           $jo-primary-color;
$body-color:              $jo-body-color;
$headings-color:          $jo-headings-color;
$text-muted:              $jo-muted-text;
$gray-base:               $jo-gray-base;

// variations dark/light sur les couleurs principales
$primary-color-light:     lighten($primary-color, 45%);
$primary-color-dark:      darken($primary-color, 10%);
$body-color-light:        lighten($body-color, 45%);
$body-color-dark:         darken($body-color, 10%);
$headings-color-light:    lighten($headings-color, 45%);
$headings-color-dark:     darken($headings-color, 10%);


// palette des gris
$gray-1: darken($gray-base, 5%);
$gray-2: $gray-base;
$gray-3: lighten($gray-base, 10%); // headings
$gray-4: lighten($gray-base, 20%); // muted text
$gray-5: lighten($gray-base, 30%);
$gray-6: lighten($gray-base, 40%);
$gray-7: lighten($gray-base, 50%);
$gray-8: lighten($gray-base, 55%);
$gray-9: lighten($gray-base, 60%);
$gray-10: lighten($gray-base, 65%);


// Links
$link-color:              $primary-color;
$link-hover-color:        $primary-color-dark;


// Form states and alerts
$info-color:              #5bc0de;
$success-color:           #5cb85c;
$warning-color:           #f0ad4e;

$danger-color:            $jo-danger-color;
$state-danger-text:       $danger-color;
$state-danger-border:     $danger-color;


// headings
$font-size-h1   : 1.75em;
$font-size-h2   : 1.5em;
$font-size-h3   : 1.15em;
$font-size-h4   : 1em;
$font-size-h5   : 1em;
$font-size-h6   : 1em;


// Chapô
$lead-font-size   : 1em;
$lead-font-weight : 600;

// breakpoints
$grid-breakpoints: (
  zero:    0,
  tiny:    20em, // 320px
  small :  34em, // 544px
  medium:  48em, // 768px
  large :  70em, // 1120px
  wide:    80em  // 1280px
) !default;



// compat scampi.
// TODO Ajuster scampi pour harmoniser nommage en primary-color
// puis supprimer cette ligne
$color-primary:           $primary-color;


