// common rules scampi/pidila demos
// ================================
.scampi-stuff {
  display: flex;
  flex-direction: column;
  height: 100vh;

  // banner
  .banner {
    .container {
      padding: .25em .5em;
      color: white;
      background: $primary-color url(../img/modulaire.svg) no-repeat .5em .25em;
      background-size: 36px auto;

      @media screen and(min-width: 48em) {
        padding: .75em 2em .5em 8em;
        background-position: 2em .5em;
        background-size: 4.5em auto;
      }
    }

    .banner-title {
      margin-bottom: 0;
      padding-left: 42px;
      color: white;
      font-size: 2em;

      @media screen and(min-width: 48em) {
        padding-left: 0;
      }
    }

    .baseline {
      margin-bottom: .25em;
    }
  }

  // main
  .main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    flex-direction: column;
  }

  .main-container {
    max-width: 48em;
  }

  h2 {
    font-size: 1.5em;

    @media screen and(min-width: 48em) {
      margin-top: 1.25em;
    }
  }

  h3 {
    font-size: 1.125em;
    font-weight: bold;

    @media screen and(min-width: 48em) {
      margin-top: 1.5em;
    }
  }

  // footer
  .pidila-footer {
    padding: .25em .5em;
    border-top: 1px solid $primary-color;
    font-size: .875em;

    @media screen and(min-width: 48em) {
      padding: .5em 2em;
    }

    @media screen and(min-width: 48em) {
      .container {
        display: flex;
        align-items: center;
      }
    }

    @media screen and(min-width: 48em) {
      .footer-content {
        flex: 1 1 100%;
        padding-right: 2em;
      }
    }

    p {
      margin: .25em 0;
    }

    .svg-icon {
      width: 1.5em;
      height: 1.5em;
      vertical-align: bottom;
    }
  }

  .pidila-logo {
    text-align: center;

    a {
      display: block;

      .svg-logo {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

// demo select
// ======================================
.scampi-stuff {
  form {
    padding: .5em 1em 1em;
    border: 1px solid $gray-8;

    @media screen and(min-width: 48em) {
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }

  .form-buttons {
    text-align: right;
  }

  .btn {
    box-shadow: 3px 3px 4px 0 rgba(0,0,0,.1);

    &:hover,
    &:focus {
      box-shadow: none;
    }

  }

  .btn-select-a11y{
    &:focus{
      box-shadow: 0 0 5px 0 $code-color;
    }
  }

  .icon-select::before {
    color: $primary-color;
  }
}
