/**
* CSS d'impression
*/


  body,
  .header,
  .main {
    width: 100%;
    float: none;
    background-color: #fff;
  }

  body {
    font: 12pt Arial, sans-serif !important;
    line-height: 1.25;
    color: #000;
  }

  h1 {
    font-size: 24pt;
  }

  h2, h3, h4 {
    font-size: 14pt;
    margin-top: 21pt;
    margin-bottom: 14pt;
  }

  a,
  blockquote,
  table, pre,
  input {
      page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5, h6,
  img {
    page-break-after:avoid;
    page-break-inside:avoid
  }

  ul, ol, dl,
  input  {
    page-break-before:avoid;
  }

  label {
    page-break-after:avoid;
  }

  a:link, a:visited, a {
    background: transparent;
    color: #333;
    text-decoration: underline;
  }

  a {
    page-break-inside:avoid;
  }

  a[href^=http]:after {
    content:" <" attr(href) "> ";
    color: #666;
  }

  a:after > img {
     content: "";
  }

  article a[href^="#"]:after {
     content: "";
  }

  a:not(:local-link):after {
     content:" <" attr(href) "> ";
  }

  p, address, li, dt, dd, blockquote,
  label, input {
    font-size: 100%
  }

  code, pre {
    font-family: "Courier New", Courier, mono;
  }

  ul, ol {
    margin-left: 14pt;
    margin-bottom: 21pt;
  }

  ul {
    list-style-type: square !important;
  }

  .breadcrumb {
    font-size: 10pt;
  }
